<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>

<body>
    <h1>Cadastrar produtos</h1>
    <form action="/produtos/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Digite o nome do produto" />
        </div>
        <div>
            <input type="text" name="quantidade" placeholder="Digite a quantidade">
        </div>
        <div>
            <input type="submit" value="Adicionar">
        </div>
    </form>
</body>

</html>